Data/
model/
__pycache__/
venv/
.venv/
node_modules/
addin/node_modules/
# Ignore specific icons
/addin/assets/icon-32.png
/addin/assets/icon12.png
/addin/assets/icon-128.png
Manifest for personal emails.txt
Manifest with version overrides.txt

